
@{
    ViewData["Title"] = "ConfirmEmail";
}

<h2>Вы подтвердили почту</h2>
<p>Спасибо за подтвержденип почту, пожалуйста перейдите за этой ссылкой и <a asp-action="Login" asp-controller="Account">залогиньтесь</a></p>

