@model BookStoreWebApi.Models.Customer

@{
    ViewData["Title"] = "Profile";
}

<h2>Ваш профиль</h2>
<div class="container">
    <p>Имя: @Model.Name</p>
    <p>Фамилия: @Model.SurName</p>
    <p>Email: @Model.Email</p>
</div>

<a asp-action="Orders" asp-controller="Account" class="btn btn-primary">Ваши заказы</a>

