@model BookStoreWebApi.ViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Регистрация</h2>


<form id="regform" asp-action="Register" asp-controller="Account" class="form-horizontal" method="post">
    <div class="container" asp-validation-summary="ModelOnly"></div>
   
        <div>
            <label asp-for="Name">Имя</label>
            <p><input asp-for="Name" type="text" required="required" class="col-lg-push-10" /></p>
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="SurName">Фамилия</label><br />
            <input asp-for="SurName" class="col-lg-push-10" />
            <span asp-validation-for="SurName"></span>
        </div>
        <div>
            <label asp-for="Email">Почта</label><br />
            <input asp-for="Email" class="col-lg-push-10" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="ConfirmEmail">Подтвердите почту</label><br />
            <input asp-for="ConfirmEmail" class="col-lg-push-10" />
            <span asp-validation-for="ConfirmEmail"></span>
        </div>
        <div>
            <label asp-for="PhoneNumber">Номер телефона</label><br />
            <input asp-for="PhoneNumber" class="col-lg-push-10" pattern="\+380\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}" placeholder="+380 (123) 123-12-12" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <div>
            <label asp-for="Password">Пароль</label><br />
            <input asp-for="Password" class="col-lg-push-10" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword">Подтвердите пароль</label><br />
            <input asp-for="ConfirmPassword" class="col-lg-push-10" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div><br />
        <div>
            <input id="subregform" type="submit" value="Отправить" class="btn btn-primary" /> 
        </div>
   
</form>

<div id="confirm" class="jumbotron"></div>



@section Scripts {
<script>
    $(document).ready(function () {
        $("#subregform").click(function () {
            $("#regform").slideUp();
            $("#confirm").text("Подтвердите свою почту");
            $("#confirm").fadeOut(5000);
        });
    });
</script>
}