
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}

<h2>Сбросить пароль</h2>


<div class="container">
    <div class="jumbotron">Вы успешно изменили пароль, теперь вам осталось <a asp-action="Login" asp-controller="Account">войти</a> в аккаунт</div>
</div>