@model BookStoreWebApi.ViewModel.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<h2>Сброс пароля</h2>

<form asp-action="ResetPassword" asp-controller="Account">
    <div asp-validation-summary="ModelOnly"></div>

    <input type="hidden" asp-for="Code" />

    <div>
        <label asp-for="Email">Почта</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password">Пароль</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword">подтвердите пароль</label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <input type="submit" value="Изменить пароль" class="btn btn-default"/>       
    </div>
</form>
