@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Книжный магазин</h1>
    <p>Стандартный проект книжный магазин для самообразования и улучшения своих способностей программирования</p>
</div>

<div class="container">
    <div class="well">
        <p>Здесь вы можете заглянуть  в магазин. Посмотреть описание понравихшися вам книжек. Выбрать и оформить заказ.</p>
    </div>
</div>

