<ul class="nav navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li><a asp-controller="Account" asp-action="Profile">Здравствуй, @User.Identity.Name</a></li>
        <li><a asp-controller="Account" asp-action="Logoff">Выйти</a></li>
    }
    else
    {
        <li><a asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Логин</a></li>
    <li><a asp-controller="Account" asp-action="Register"><span class="glyphicon glyphicon-user"></span> Зарегистрироваться</a></li>
    }
</ul>
