@model IEnumerable<BookStoreWebApi.Models.Book>

@{
    ViewData["Title"] = "Store";
}

<h2>Store</h2>

<table class="table-striped">
    <div>
        <ul>
            
        </ul>
    </div>
</table>